<nav class="navbar navbar-expand-lg navbar-light navbar-dark-blue">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="assets/groupBl.png" style="height: 30px; margin-right: 10px;">
      RemoteAssistant
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Services</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <button type="button" class="btn btn-danger btn-lg me-2" [routerLink]="['/logout']">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Centered Table to display the usernames and ids -->
<div class="d-flex justify-content-center mt-5">
  <div class="card" style="width: 40rem;">
    <div class="card-body">
      <h5 class="card-title text-center">Informations</h5>
      <table class="table table-bordered table-striped text-center">
        <thead class="table-dark">
        <tr>
          <th scope="col">Nom :</th>
          <th scope="col">Date :</th>
          <th scope="col">ID :</th>
          <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>{{ user.username }}</td>
          <td>{{ user.date }}</td>
          <td>{{ user.id }}</td>
          <td>
            <button type="button" class="btn" [ngClass]="{'btn-success': user.status === 'online', 'btn-secondary': user.status === 'offline'}" (click)="toggleStatus(i)">
              {{ user.status }}
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
