.navbar-dark-blue {
  background-color: #4a88e0;
}
.navbar-brand {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
}
.navbar-dark-blue {
  background-color: #2b5f96; /* Exemple de couleur de fond */
}

.nav-link {
  color: white; /* Couleur des liens de navigation */
  margin-right: 18px;
  margin-left: 20px;
}

.nav-link:hover {
  color: #ffdd57; /* Couleur au survol */
}

.btn-primary {
  background-color: #0056b3; /* Couleur du bouton Login */
  border-color: #0056b3;
}

.btn-secondary {
  background-color: #6c757d; /* Couleur du bouton Signup */
  border-color: #6c757d;
}
.nav-item{
  margin-left: 20px;
  font-weight: 800;
}
.btn {
  transition: background-color 1s ease, color 1s ease; /* Ajoutez une transition pour la couleur de fond et la couleur du texte */
}


/* Center the card containing the table */
.d-flex {
  justify-content: center;
}

/* Additional table styling if needed */
.table {
  margin-top: 20px;
}

/* Center card title */
.card-title {
  font-weight: bold;
}

