.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
  width: 50%;
}

.login-image {
  flex: 1;
  height: 100vh; /* Ajustez la hauteur pour qu'elle occupe toute la hauteur de la page */
}

.login-image img {
  width: 100%;
  height: 100%; /* Ajustez la hauteur de l'image pour qu'elle remplisse la div */
  object-fit: cover; /* Pour que l'image conserve ses proportions et remplisse la div */
}

.form-group {
  margin-bottom: 20px;
}

.form-control{
  width: 60%;
  font-size: 15px;
  height: 50px;
  border: 2px solid #8c9dab;
  transition: all .2s linear;
}
.titre {
  margin-bottom: 70px; /* ou toute autre valeur qui convient à votre mise en page */
}

.login-image {
  position: relative; /* Permet d'utiliser une position absolue pour les éléments enfants */
}

.image-overlay {
  position: absolute;
  top: 8%; /* Positionne le haut de la div à 50% du parent */
  left: 50%; /* Positionne la gauche de la div à 50% du parent */
  font-size: 22px;
  font-weight: 600;
  transform: translate(-50%, -50%); /* Centre la div horizontalement et verticalement */
  text-align: center; /* Centre le texte à l'intérieur de la div */
  color: #132d48; /* Couleur du texte */
  margin-bottom: 30px;
}

.image-overlay h2, .image-overlay p {
  margin: 0; /* Supprime les marges par défaut */
}
