<div class="container">
  <div class="container">
    <div class="login-form">
      <h2 class="titre">S'inscrire</h2>
      <form (ngSubmit)="register()" #registerForm="ngForm">
        <div class="form-group">
          <!-- Nom -->
          <label for="name" class="form-label">Nom</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Saisissez votre nom"
            [(ngModel)]="name"
            required
          />
        </div>
        <!-- Prénom -->
        <div class="form-group">
          <label for="prenom" class="form-label">Prénom</label>
          <input
            type="text"
            class="form-control"
            id="prenom"
            name="prenom"
            placeholder="Saisissez votre prénom"
            [(ngModel)]="prenom"
            required
          />
        </div>
        <!-- Email -->
        <div class="form-group">
          <label for="email" class="form-label">Adresse E-mail</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Saisissez votre adresse mail"
            [(ngModel)]="email"
            required
          />
        </div>
        <!-- Mot de passe -->
        <div class="form-group">
          <label for="password" class="form-label">Mot de passe</label>
          <input
            type="{{ passwordVisible ? 'text' : 'password' }}"
            class="form-control"
            id="password"
            name="password"
            placeholder="Entrez votre mot de passe"
            [(ngModel)]="password"
            required
          />
          <button
            class="btn toggle-password"
            type="button"
            (click)="togglePasswordVisibility()"
          >
            <i class="fa" [ngClass]="{'fa-eye': !passwordVisible, 'fa-eye-slash': passwordVisible}"></i>
          </button>
        </div>
        <!-- Rôle -->
        <div class="form-group">
          <label for="role" class="form-label">Rôle</label>
          <select class="form-control" id="role" name="role" [(ngModel)]="role" required>
            <option value="EXPERT">Expert</option>
            <option value="TECHNICIEN">Technicien</option>
            <option value="GUEST">Guest</option>
          </select>
        </div>

        <button
          type="submit"
          class="rm-green_button"
          [disabled]="!isFormValid()"
          [ngClass]="{'button-disabled': !isFormValid(), 'button-enabled': isFormValid()}">
          S'inscrire
        </button>
      </form>
    </div>
  </div>

  <div class="login-image-container">
    <div class="login-image">
      <img src="assets/f6e9885adfc4c5eebbc6ca45d7d0651d.jpg" alt="">
    </div>
  </div>
</div>
