<app-navbar></app-navbar>
<div class="container-fluid">

  <!-- En-tête -->

  <div class="bg-image m-0">
    <section id="home" class="sc-eTNep iCNgno container flexSpaceCenter">
      <div class="text-container">
        <h2 class="extraBold font40">
              <span class="welcome-text">
              </span>
          Remote Assistant,
        </h2>
        <div class="sc-brSaZW lcejaQ MontserratM header">
          Facilitez votre communication !
        </div>
      </div>

      <div class="image-cover">
        <img src="assets/49046-removebg-preview.png" alt="">
      </div>
    </section>



    <section id="services" class="Services">
      <div class="card">
        <img src="assets/messaging.jpg" alt="">
        <div class="container">
          <h4><b>Messaging</b></h4>
          <p class="card-description">Dynamique, instantané, connecté.</p>
          <a routerLink="/loginChat" class="btn">Connecter vous</a>
        </div>
      </div>

      <div class="card">
        <img src="assets/videoCall.avif" alt="">
        <div class="container">
          <h4><b>Appel Video</b></h4>
          <p class="card-description">Interactif, immersif, direct.</p>
          <a routerLink="/video-call" class="btn">Connecter vous</a>
        </div>
      </div>
      <div class="card">
        <img src="assets/img_3.png" alt="">
        <div class="container">
          <h4><b>Technicien En Ligne</b></h4>
          <p class="card-description">Efficacité, Rapidité, direct.</p>
          <a routerLink="/technicien" class="btn">Connecter vous</a>
        </div>
      </div>
    </section>




  </div>
</div>

<app-footer></app-footer>
