<app-navbar></app-navbar>
<div class="container-fluid">

  <!-- En-tête -->

  <div class="bg-image m-0">
    <section id="home" class="sc-eTNep iCNgno container flexSpaceCenter">
      <div class="text-container">
        <h2 class="extraBold font40">
              <span class="welcome-text">
                 Bienvenue sur
              </span>
          Remote Assistant,
        </h2>
        <div class="sc-brSaZW lcejaQ MontserratM header">
          Facilitez votre communication !
        </div>
      </div>

      <div class="image-cover">
        <img src="assets/49046-removebg-preview.png" alt="">
      </div>
    </section>
  </div>
</div>

<app-footer></app-footer>
